<div id="<%= dom_id car %>">
  <p>
    <strong>Original Price:</strong>
    $<%= car.price %>
  </p>

  <p>
    <strong>Current Price:</strong>
    $<%= car.current_price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= car.description %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= car.brand.titleize %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= car.condition.titleize %>
  </p>

  <p>
    <strong>Dealership:</strong>
    <%= car.dealership.name %>
  </p>

</div>
